
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.main-client-form h1 {
    font-size: 150%;
    text-align: center;
    border-bottom: solid;
    margin-top: 0;
    color: #4fb1a1;
}

.main-client-form h3 {
    margin: 5% 3%;
    font-weight: lighter;
    color: #4fb1a1;
}

.main-client-form {
    margin: 0 5%;
}

.treatment-block, .client-details-form {
    margin: 0 5%;
}

.client-details-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.treatment-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.treatment-block input {
    margin: auto;
    height: 3.5vh
}

.treatment-block select {
    margin: auto;
    height: 4.5vh;
}

.treatment-block label {
    width: 30%;
    padding: 0;
}

.treatment-block input, .treatment-block select {
    width: 60%;
}

input, select {
    margin-right: 1vw;
    height: 3.5vh;
    border-radius: 20px;
    border: 0;
    background-color: #afddd8;
    padding: 5px;
}


label {
    padding-bottom: 0vh;
    margin-right: 1vw;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #4fb1a1;
}

.dob-height-block input, .name-gender-block input {
    width: 100%;
}

#email, #occupation {
    width: 61%;
}

#address1, #address2 {
    width: 70.0%;
}

#addressblock {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.e-contact-block {
    display: flex;
}

.e-contact-block label {
    width: 39%;
}

.e-contact-input {
    display: flex;
    width: 61vw;
}

#e-contact-name {
    width: 50%;
}

.e-contact-input input {
    width: 100%;
}


.dob-height-block {
    display: flex;
    width: 40%;
}

.name-gender-block {
    display: flex;
    width: 60%;
}

.block2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5vh;
    margin-top: 0

}

.block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vh;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
    height: 4vh;
}

.nav-buttons button {
    width: 30%;
    border-radius: 20px;
    border: 0;
    background-color: #f5a636;
    color: white;
}

.hidden {
    visibility: hidden;
}
