.notes {
    margin-bottom: 50px;
    border: solid;
}

.notes button {
    margin-bottom: 20px;
}

.content-input {
    height: 100px;
    width : 200px;
    overflow: hidden;
}

.svg-bottom {
    transform: translateY(5px);
}